<!DOCTYPE html>
<html>
    <head>
        <title>Project 1</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/proj1.css')}}">
    </head>
    <body>
       
        <div id = "background_container" align = center style = "background-image: url({{background}}); height: 100%;">
           
            
            <div class = "text_container">
                <p align=center> <h1><font face = "Comic Sans MS" color = "red">Random "In Space..." Quotes</font></h1></p><br>
                <p align=center><font face = "Comic Sans MS" color = "red" size = "4"><b>{{quote}}</b></font></p><br>
                <p align=center><font face = "Comic Sans MS" color = "red" size = "3"><b>{{author}}</b></font></p><br>
                <p align=center><font face = "Comic Sans MS" color = "red" size = "3"><b><a href="{{link}}">Link to tweet</a></b></font></p>
                
            </div>
            
        </div>
        
            
    </body>
</html>